<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>To do List</display-name>

    <welcome-file-list>
        <welcome-file>chooseBeer.html</welcome-file>
    </welcome-file-list>
    
<!--    <context-param>-->
<!--        <param-name>db.url</param-name>-->
<!--        <param-value>jdbc:h2:mem</param-value>-->
<!--    </context-param>-->
<!--    -->
<!--    <context-param>-->
<!--        <param-name>db.user</param-name>-->
<!--        <param-value>sa</param-value>-->
<!--    </context-param>-->

<!--    <context-param>-->
<!--        <param-name>db.password</param-name>-->
<!--        <param-value>password</param-value>-->
<!--    </context-param>-->
<!--    -->
<!--    <context-param>-->
<!--        <param-name>db.tcpServer</param-name>-->
<!--        <param-value></param-value>-->
<!--    </context-param>-->

    <context-param>
        <param-name>rasa</param-name>
        <param-value>bokser</param-value>
    </context-param>

    <context-param>
        <param-name>dog.name</param-name>
        <param-value>Reksio</param-value>
    </context-param>

    <context-param>
        <param-name>mainName</param-name>
        <param-value>Head First JSP</param-value>
    </context-param>

</web-app>