<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>To do List</display-name>

    <welcome-file-list>
        <welcome-file>chooseBeer.html</welcome-file>
    </welcome-file-list>

    <context-param>
        <param-name>mainName</param-name>
        <param-value>Head First JSP</param-value>
    </context-param>

</web-app>