<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>To do List</display-name>

    <welcome-file-list>
        <welcome-file>chooseBeer.html</welcome-file>
    </welcome-file-list>
    
<!--    <context-param>-->
<!--        <param-name>db.url</param-name>-->
<!--        <param-value>jdbc:h2:mem</param-value>-->
<!--    </context-param>-->
<!--    -->
<!--    <context-param>-->
<!--        <param-name>db.user</param-name>-->
<!--        <param-value>sa</param-value>-->
<!--    </context-param>-->

<!--    <context-param>-->
<!--        <param-name>db.password</param-name>-->
<!--        <param-value>password</param-value>-->
<!--    </context-param>-->
<!--    -->
<!--    <context-param>-->
<!--        <param-name>db.tcpServer</param-name>-->
<!--        <param-value></param-value>-->
<!--    </context-param>-->

    <context-param>
        <param-name>rasa</param-name>
        <param-value>bokser</param-value>
    </context-param>

    <context-param>
        <param-name>dog.name</param-name>
        <param-value>Reksio</param-value>
    </context-param>

    <context-param>
        <param-name>mainName</param-name>
        <param-value>Head First JSP</param-value>
    </context-param>

    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>admin@localhost.com</param-value>
    </context-param>

    <servlet>
        <servlet-name>MojTestInicjal</servlet-name>
        <jsp-file>/showHobby.jsp</jsp-file>
        <init-param>
            <param-name>email</param-name>
            <param-value>kickbucket@smartview.com</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>MojTestInicjal</servlet-name>
        <url-pattern>/showHobby.jsp</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>RequestLoggingFilter</filter-name>
        <filter-class>org.webapp.beerapp.web.RequestLoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>org.webapp.beerapp.web.AuthenticationFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
